@{
    ViewData["Title"] = "Inicio";
    Layout = ViewBag.Layout;
}

<section class="bg-yellow pt-4 pb-5 home-image-container">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-6 mb-0 mb-xl-5">
                <p class="home-banner-text fw-600 m-0">Chefs</p>
                <p class="home-banner-text fw-600 m-0 home-recipe-text">Eventos</p>
                <p class="home-banner-text fw-600 m-0">Recetas</p>
            </div>
            <div class="col-6 mx-auto">
                <img class="img-fluid" src="~/img/lady-and-kid-cooking.png" alt="Mujer y niña cocinando" />
            </div>
        </div>
    </div>
</section>

<section class="container my-5">
    <h2 class="display-3 fw-500 mb-4 mb-lg-5">Eventos</h2>
    <div class="gx-0 gy-5 g-sm-5 row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <article class="col">
            <div class="card border-radius-15px shadow">
                <img src="https://images.squarespace-cdn.com/content/v1/5975441dbebafb04b95f650f/1597210078357-TZDTYWC7J50PIRDOT6M3/IMG_3605.jpg" class="card-img-top border-radius-top-15px" alt="Foto de evento">
                <div class="card-body">
                    <h5 class="card-title">Nombre del evento</h5>
                    <p class="card-text">$600</p>

                    <hr />

                    <b>Puntuación: 9,8</b>

                    <div class="my-4">
                        <p class="m-0">Juan Pérez (9):</p>
                        <p class="m-0">"Muy buen evento!"</p>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-outline-black" href="#">Ver Más</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="col">
            <div class="card border-radius-15px shadow">
                <img src="https://images.squarespace-cdn.com/content/v1/5975441dbebafb04b95f650f/1597210078357-TZDTYWC7J50PIRDOT6M3/IMG_3605.jpg" class="card-img-top border-radius-top-15px" alt="Foto de evento">
                <div class="card-body">
                    <h5 class="card-title">Nombre del evento</h5>
                    <p class="card-text">$600</p>

                    <hr />

                    <b>Puntuación: 9,8</b>

                    <div class="my-4">
                        <p class="m-0">Juan Pérez (9):</p>
                        <p class="m-0">"Muy buen evento!"</p>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-outline-black" href="#">Ver Más</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="col">
            <div class="card border-radius-15px shadow">
                <img src="https://images.squarespace-cdn.com/content/v1/5975441dbebafb04b95f650f/1597210078357-TZDTYWC7J50PIRDOT6M3/IMG_3605.jpg" class="card-img-top border-radius-top-15px" alt="Foto de evento">
                <div class="card-body">
                    <h5 class="card-title">Nombre del evento</h5>
                    <p class="card-text">$600</p>

                    <hr />

                    <b>Puntuación: 9,8</b>

                    <div class="my-4">
                        <p class="m-0">Juan Pérez (9):</p>
                        <p class="m-0">"Muy buen evento!"</p>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-outline-black" href="#">Ver Más</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="col">
            <div class="card border-radius-15px shadow">
                <img src="https://images.squarespace-cdn.com/content/v1/5975441dbebafb04b95f650f/1597210078357-TZDTYWC7J50PIRDOT6M3/IMG_3605.jpg" class="card-img-top border-radius-top-15px" alt="Foto de evento">
                <div class="card-body">
                    <h5 class="card-title">Nombre del evento</h5>
                    <p class="card-text">$600</p>

                    <hr />

                    <b>Puntuación: 9,8</b>

                    <div class="my-4">
                        <p class="m-0">Juan Pérez (9):</p>
                        <p class="m-0">"Muy buen evento!"</p>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-outline-black" href="#">Ver Más</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="col">
            <div class="card border-radius-15px shadow">
                <img src="https://images.squarespace-cdn.com/content/v1/5975441dbebafb04b95f650f/1597210078357-TZDTYWC7J50PIRDOT6M3/IMG_3605.jpg" class="card-img-top border-radius-top-15px" alt="Foto de evento">
                <div class="card-body">
                    <h5 class="card-title">Nombre del evento</h5>
                    <p class="card-text">$600</p>

                    <hr />

                    <b>Puntuación: 9,8</b>

                    <div class="my-4">
                        <p class="m-0">Juan Pérez (9):</p>
                        <p class="m-0">"Muy buen evento!"</p>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-outline-black" href="#">Ver Más</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="col">
            <div class="card border-radius-15px shadow">
                <img src="https://images.squarespace-cdn.com/content/v1/5975441dbebafb04b95f650f/1597210078357-TZDTYWC7J50PIRDOT6M3/IMG_3605.jpg" class="card-img-top border-radius-top-15px" alt="Foto de evento">
                <div class="card-body">
                    <h5 class="card-title">Nombre del evento</h5>
                    <p class="card-text">$600</p>

                    <hr />

                    <b>Puntuación: 9,8</b>

                    <div class="my-4">
                        <p class="m-0">Juan Pérez (9):</p>
                        <p class="m-0">"Muy buen evento!"</p>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-outline-black" href="#">Ver Más</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
