@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "_LayoutAnonimo";
}

<section class="container mx-auto my-5">
    <div class="col-12 col-md-10 mx-auto p-4 p-md-5 border-radius-15px shadow">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-12 col-lg-5">
                <div class="fs-5 mb-5">
                    <p class="display-4 fw-bold">Inciar Sesión</p>
                </div>

                <form method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="email">E-Mail</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope fa-fw"></i></span>
                                <input id="email" type="email" class="form-control" placeholder="Ingresa tu E-Mail" required />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="pass">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
                                <input id="pass" type="password" class="form-control" placeholder="Ingresa una contraseña" required />
                            </div>
                        </div>
                    </div>

                    <div class="text-center my-5">
                        <button type="submit" class="btn btn-lg btn-yellow">Ingresar</button>
                    </div>

                    <p class="fs-5 text-center">
                        ¿No tienes una cuenta?
                        <a asp-controller="User" asp-action="Register" class="text-decoration-none">Registrarse</a>
                    </p>
                </form>
            </div>

            <div class="d-none d-lg-block col-lg-5 mx-auto">
                <div>
                    <div><img class="img-fluid rounded-circle" src="~/img/cooking-food.png" alt="Sarten con ingredientes" /></div>
                </div>
            </div>
        </div>
    </div>
</section>