@{
    ViewData["Title"] = "Registrarse";
    Layout = "_LayoutAnonimo";
}

<section class="container mx-auto my-5">
    <div class="p-4 p-md-5 border-radius-15px bg-white shadow">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-12 col-lg-6">
                <div class="fs-5 mb-5">
                    <p class="display-4 fw-bold">¡Registrate en APP!</p>
                </div>

                <form method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="nombre">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                                <input id="nombre" type="text" class="form-control" placeholder="Ingresa tu nombre" autofocus required />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="email">E-Mail</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope fa-fw"></i></span>
                                <input id="email" type="email" class="form-control" placeholder="Ingresa tu E-Mail" required />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="pass">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
                                <input id="pass" type="password" class="form-control" placeholder="Ingresa una contraseña" required />
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="confirmpass">Confirmar Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
                                <input id="confirmpass" type="password" class="form-control" placeholder="Repite tu contraseña" required />
                            </div>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col d-flex">
                            <label class="me-3" for="gender">Selecciona un perfil:</label>

                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="profile" id="Comensal" required>
                                <label class="form-check-label" for="Comensal">
                                    Comensal
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="profile" id="Cocinero" required>
                                <label class="form-check-label" for="Cocinero">
                                    Cocinero
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="text-center my-5">
                        <button type="submit" class="btn btn-lg btn-yellow">Registrarse</button>
                    </div>

                    <p class="fs-5 text-center">¿Ya tienes una cuenta? 
                        <a asp-controller="User" asp-action="Login" class="text-decoration-none">Acceder</a>
                    </p>
                </form>
            </div>

            <div class="d-none d-lg-block col-lg-6 ps-5">
                <div >
                    <div><img class="img-fluid rounded-circle" src="~/img/smartphone-and-chef.png" alt="Mini chef arriba de la pantalla de un celular" /></div>
                </div>
            </div>
        </div>
    </div>
</section>