@model pw3_proyecto.Entities.UsuarioModelMetaData

@{
    ViewData["Title"] = "Registrarse";
    Layout = "_LayoutAnonimo";
}

<section class="container mx-auto my-5">
    <p class="display-6 fw-bold text-center mb-5">@ViewBag.RegisterError</p>

    <div class="p-4 p-md-5 border-radius-15px shadow">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-12 col-lg-6">
                <div class="fs-5 mb-5">
                    <p class="display-4 fw-bold">¡Registrate en APP!</p>
                </div>

                <form asp-controller="User" asp-action="Register" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="Nombre" class="form-label"></label>
                            <div class="input-group mb-1">
                                <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                                <input asp-for="Nombre" class="form-control rounded" placeholder="Ingresa tu nombre" autofocus required />
                            </div>

                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="Email" class="form-label"></label>
                            <div class="input-group mb-1">
                                <span class="input-group-text"><i class="fas fa-envelope fa-fw"></i></span>
                                <input asp-for="Email" class="form-control rounded" placeholder="Ingresa tu E-Mail" required />
                            </div>

                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="Password" class="form-label"></label>
                            <div class="input-group mb-1">
                                <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
                                <input asp-for="Password" type="password" class="form-control rounded" placeholder="Ingresa una contraseña" required />
                            </div>

                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <div class="input-group mb-1">
                                <span class="input-group-text"><i class="fas fa-lock fa-fw"></i></span>
                                <input asp-for="ConfirmPassword" type="password" class="form-control rounded" placeholder="Repite tu contraseña" required />
                            </div>

                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row my-5">
                        <div class="col d-flex mb-1">
                            <label class="me-3" for="Perfil">Selecciona un perfil:</label>

                            <div class="form-check me-3">
                                <input class="form-check-input" type="radio" name="Perfil" id="comensal" value="0" required>
                                <label class="form-check-label" for="comensal">
                                    Comensal
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Perfil" id="cocinero" value="1" required>
                                <label class="form-check-label" for="cocinero">
                                    Cocinero
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="text-center my-5">
                        <button type="submit" class="btn btn-lg btn-yellow">Registrarse</button>
                    </div>

                    <p class="fs-5 text-center">
                        ¿Ya tienes una cuenta?
                        <a asp-controller="User" asp-action="Login" class="text-decoration-none">Acceder</a>
                    </p>
                </form>
            </div>

            <div class="d-none d-lg-block col-lg-6 ps-5">
                <div>
                    <div><img class="img-fluid rounded-circle" src="~/img/smartphone-and-chef.png" alt="Mini chef arriba de la pantalla de un celular" /></div>
                </div>
            </div>
        </div>
    </div>
</section>
